/* Container Principal */
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Contenedor de Filtros */
.filterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 5px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter {
    width: 150px;
}

/* Contenedor de la Barra de Búsqueda */
.searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchContainer2 {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 400px;
    margin-bottom: 20px;
}

/* Barra de Búsqueda */
.searchBar {
    width: 250px;
}

/* Botón de Búsqueda */
.searchButton {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #4751A8;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #3a3f8a;
}

/* Botón de Refrescar */
.refreshButton {
    padding: 10px;
    font-size: 16px;
    background: none;
    color: #4751A8;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    outline: none;
}

.refreshButton:hover {
    color: #007bff;
}

.spinnerIcon {
    font-size: 1.2rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Contenedor del Estado */
.statusContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Círculo de Estado */
.statusCircle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Colores del Estado */
.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  table-layout: fixed;
}

/* Encabezado */
.table th {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: left;
}

/* Celdas */
.table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Filas alternas */
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover */
.table tr:hover {
  background-color: #e6e6e6;
}

/* Ancho por columna */
.table th:nth-child(1), .table td:nth-child(1) { width: 35%; } /* Artefacto */
.table th:nth-child(2), .table td:nth-child(2) { width: 15%; } /* Estado */
.table th:nth-child(3), .table td:nth-child(3) { width: 10%; } /* N° O.T */
.table th:nth-child(4), .table td:nth-child(4) { width: 10%; } /* N° SAC */
.table th:nth-child(5), .table td:nth-child(5) { width: 10%; } /* N° Cuenta */
.table th:nth-child(6), .table td:nth-child(6) { width: 10%; text-align: center; } /* Acciones */

.table thead th {
  position: sticky;
  top: -20px;
  z-index: 10;
  background-color: #f4f4f4; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Puntos suspensivos en celdas largas */
.ellipsisCell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}



.viewArtifactButton {
    background-color: #1d8622;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.viewArtifactButton:hover {
    background-color:  #1a6e1a;
}


.highPriorityRow {
    background-color: rgba(255, 0, 0, 0.267);
}

.mediumPriorityRow {
    background-color: rgba(255, 117, 4, 0.308);
}

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.loadingSpinner {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #007bff;
    font-size: 18px;
}

@media screen and (max-width: 1000px) {
    .filterContainer {
        flex-direction: column;
        align-items: flex-start;
    }
}
