.pdf-container {

    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo img {
    height: 65px;
}

.company-info {
    text-align: center;
    font-size: 12px;
}

.company-info p{
    margin: 2px;
}

.order-info {
    width:250px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold; 
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black; 
    -webkit-box-shadow: 5px 5px 0px 1px #000000; 
    box-shadow: 5px 5px 0px 1px #000000 inset; 
    
}

.order-info p{
    text-align: left;
    margin:5px;
}


.date-info {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}

.date-info p{
    margin: 5px 0;
}

.technical-service-info {
    border: 1px solid black;
    border-radius: 8px;
    padding:8px 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; 
}

.column p {
    margin: 0 0 8px 0; 
    font-weight: normal;
    overflow: hidden;       
    white-space: nowrap;    
    text-overflow: ellipsis; 
}

.column p strong {
    font-weight: bold;
}

.claimant-details {
    padding:5px 15px;
    border: 1px solid black;
    border-radius: 8px;
}

.claimant-info p {
    margin:5px;
    font-size: 14px;
}

.separator {
    margin: 0 15px;
}
.title{
    font-style: italic;
    font-size: 13px;
    margin:5px;
}


.repair-order-detail {
    font-size: 14px;
}


.artifact-info {
    border: 1px solid black;
    border-radius: 8px;
    font-size: 13px;
    padding: 0 20px;
}

.section-title {
    font-weight: bold;
    font-style: italic;
    margin: 5px 0 0 0;
}

.section-description{
    margin:5px 0 0 0;
}

.section-title2 {
    font-weight: bold;
    margin-top: 10px;
}

.section-title2 span{
    font-weight: normal;
}


.budget{
    margin:10px 0 0 20px;
}


.signatures-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px; 
}

.signatures-section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px; 
}

.signature {
    text-align: center;
    flex: 1;
}

.signature-line {
    border-top: 1px dashed black; 
    width: 80%; 
    margin: 0 auto 5px auto;
}

.signature p {
    margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: bold;
}

.dotted-line {
    border-top: 1px dashed black;
    margin: 10px 0;
}

.disclaimer {
    font-size: 10px; 
    text-align: center; 
    color: #555; 
}