.sidebar {
    font-family: 'Archivo', sans-serif;
    width: 200px;
    min-width: 140px;
    background-color: #4751A8;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    height: 100%;
    display: flex; 
    flex-direction: column;
    overflow: auto;
}



.sidebarAdmin{
    font-family: 'Archivo', sans-serif;
    width: 200px;
    min-width: 140px;
    background-color: #252525;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 20px;
}

.sidebarAdmin ul {
    list-style-type: none;
    padding: 0;
}

.actionItem {
    margin: 50px 0;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.actionItem::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.actionItem:hover::after,
.active::after {
    width: 100%;
}

.active {
    color: #ffffff;
    position: relative;
}


.actionItem2 {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.actionItem2::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.actionItem2:hover::after,
.active::after {
    width: 100%;
}

.active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1; 
}

.bottomAction {
    margin-top: auto;
    list-style-type: none;
    padding: 0;
}


/* SCROLLBAR */

.sidebar::-webkit-scrollbar,
.sidebarAdmin::-webkit-scrollbar {
    width: 8px; 
}


.sidebar::-webkit-scrollbar-track,
.sidebarAdmin::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}


.sidebar::-webkit-scrollbar-thumb,
.sidebarAdmin::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* color blanco con transparencia */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}


.sidebar::-webkit-scrollbar-thumb:hover,
.sidebarAdmin::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}