.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContentWithNavbar {
    flex: 1;
    background-color: #b3b3b3; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
}
 